@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root {
    --secondary-color: #F7C309;
}

body {
    margin: 0;
    font-family: 'Caveat', cursive;
}

#text-input {
    display: block;
    width: 90%;
    height: 15vh;
    padding: 0.5rem;
}

#btn-translate {
    margin: 1rem 0;
    width: 10rem;
    height: 2rem;
    background-color: var(--secondary-color);
    border-radius: 50rem;
    font-size: large;
    font-family: inherit;
}

#output-text {
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 0.5rem;
    width: 90%;
    height: 15vh;
    padding: 0.5rem;
}

#heading {
    background-color: var(--secondary-color);
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

.container {
    max-width: 400px;
    padding: 5rem 0;
    margin: auto;
    margin-bottom: 2rem;
}

#div-display {
    font-size: xx-large;
    font-weight: 800;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-color);
}

footer > p {
    font-size: 2rem;
}